#quote-box {
  background-color: #9b6be7;
  padding: 1.9rem;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  flex-direction: column;

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #tweet-quote {
      font-size: 4rem;
      color: ivory;
      &:hover {
        color: blue;
      }
    }

    #new-quote {
      font-size: 4rem;
      &:hover {
        color: blueviolet;
      }
      border: none;
      background-color: inherit;
      color: ivory;
      cursor: pointer;
    }
  }
}
